body{
    background-color: red;

}

p{
    color: yellow;
}

@media only screen and (max-width:600px) {
    body{
        background-color: grey;
    }
    p{
        color: green;
    }
    
}

/*
https://getbootstrap.com/docs/5.3/getting-started/introduction/

https://get.foundation/

https://tailwindcss.com/

*/