h1{

    border: 1px solid black;
    /*padding: 5px;*/
    /*margin: 30px;*/
    margin-top: 40px;/*arriba*/
    margin-bottom: 20px;/*abajo*/
    margin-left: 10px ;
    margin-right: 10px;
    /*padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;*/
    padding: 30px 15px 25px 20px;/*top bottom left right*/

    font-weight: bold;
    color: grey;

}